# Importing data

In [2]:
import pandas as pd

In [3]:
titanic_df = pd.read_csv("Titanic_coursework_entire_dataset_23-24.csv")
titanic_df

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Embarked,Survival
0,1,3.0,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,S,0
1,2,1.0,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C,1
2,3,3.0,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,S,1
3,4,1.0,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,S,1
4,5,3.0,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,S,0
...,...,...,...,...,...,...,...,...,...,...,...
885,886,2.0,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,S,0
886,887,1.0,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,S,1
887,888,3.0,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,S,0
888,889,1.0,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C,1
889,890,3.0,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,Q,0

# Data Preprocessing

In [4]:
titanic_df = titanic_df.drop(columns = 'PassengerId')
titanic_df

,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Embarked,Survival
0,3.0,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,S,0
1,1.0,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C,1
2,3.0,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,S,1
3,1.0,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,S,1
4,3.0,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,S,0
...,...,...,...,...,...,...,...,...,...,...
885,2.0,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,S,0
886,1.0,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,S,1
887,3.0,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,S,0
888,1.0,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C,1
889,3.0,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,Q,0

In [5]:
titanic_df['Name'] = titanic_df['Name'].astype('category')
titanic_df['Name'] = titanic_df['Name'].cat.codes

titanic_df['Sex'] = titanic_df['Sex'].astype('category')
titanic_df['Sex'] = titanic_df['Sex'].cat.codes

titanic_df['Ticket'] = titanic_df['Ticket'].astype('category')
titanic_df['Ticket'] = titanic_df['Ticket'].cat.codes

titanic_df['Embarked'] = titanic_df['Embarked'].astype('category')
titanic_df['Embarked'] = titanic_df['Embarked'].cat.codes

titanic_df

,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Embarked,Survival
0,3.0,108,1,22.0,1,0,522,7.2500,2,0
1,1.0,190,0,38.0,1,0,595,71.2833,0,1
2,3.0,353,0,26.0,0,0,668,7.9250,2,1
3,1.0,272,0,35.0,1,0,49,53.1000,2,1
4,3.0,15,1,35.0,0,0,471,8.0500,2,0
...,...,...,...,...,...,...,...,...,...,...
885,2.0,548,1,27.0,0,0,101,13.0000,2,0
886,1.0,303,0,19.0,0,0,14,30.0000,2,1
887,3.0,413,0,NaN,1,2,674,23.4500,2,0
888,1.0,81,1,26.0,0,0,8,30.0000,0,1
889,3.0,220,1,32.0,0,0,465,7.7500,1,0

In [26]:
titanic_df.isna().sum()

Pclass        2
Name          0
Sex           0
Age         176
SibSp         0
Parch         0
Ticket        0
Fare          0
Embarked      0
Survival      0
dtype: int64

In [7]:
#imputation method is used to replace the NaN values with mode in this case
from sklearn.impute import SimpleImputer
imputer = SimpleImputer(strategy='mean')

# Choosing x and y

In [8]:
x = titanic_df.drop(columns = 'Survival')
y = titanic_df['Survival']

# Splitting Data

In [9]:
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.27, random_state = 42)

In [10]:
print(x_train.shape)
print(x_test.shape)
print(y_train.shape)
print(y_test.shape)

(649, 9)
(241, 9)
(649,)
(241,)

# Data Imputation and Scaling

In [11]:
x_train_imputed = imputer.fit_transform(x_train)
x_test_imputed = imputer.transform(x_test)

In [12]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()

x_train_scaled = scaler.fit_transform(x_train_imputed)
x_test_scaled = scaler.transform(x_test_imputed)

# Logistic Regression

In [32]:
from sklearn.linear_model import LogisticRegression
logr = LogisticRegression(random_state = 0, C = 0.01, fit_intercept= True).fit(x_train_scaled, y_train)
logr.fit(x_train_scaled, y_train)

LogisticRegression(C=0.01, random_state=0)

In [33]:
predictions = logr.predict(x_test_scaled)

In [34]:
from sklearn.metrics import accuracy_score, precision_score, recall_score
import numpy as np


logr_accuracy = np.round(accuracy_score(y_test, predictions), 2)
logr_precision = np.round(precision_score(y_test, predictions), 2)
logr_recall = np.round(recall_score(y_test, predictions), 2)


print("Accuracy: ", logr_accuracy)
print("Precision: ", logr_precision)
print("Recall: ", logr_recall)

Accuracy:  0.81
Precision:  0.84
Recall:  0.68

# Hyperparameter Tuning for Logistic Regression

In [35]:
logr2 = LogisticRegression(random_state = 0, C = 1, fit_intercept= True).fit(x_train_scaled, y_train)
logr2.fit(x_train_scaled, y_train)

LogisticRegression(C=1, random_state=0)

In [36]:
predictions = logr2.predict(x_test_scaled)

In [37]:

logr2_accuracy = np.round(accuracy_score(y_test, predictions), 2)
logr2_precision = np.round(precision_score(y_test, predictions), 2)
logr2_recall = np.round(recall_score(y_test, predictions), 2)


print("Accuracy: ", logr2_accuracy)
print("Precision: ", logr2_precision)
print("Recall: ", logr2_recall)

Accuracy:  0.83
Precision:  0.8
Recall:  0.79

# Decision Tree

In [38]:
from sklearn import tree

dt = tree.DecisionTreeClassifier(max_depth = 4, ccp_alpha = 0.01)
dt.fit(x_train_scaled, y_train)

DecisionTreeClassifier(ccp_alpha=0.01, max_depth=4)

In [39]:
predictions_dt = dt.predict(x_test_scaled)

In [40]:
dt_accuracy = np.round(accuracy_score(y_test, predictions_dt), 2)
dt_precision = np.round(precision_score(y_test, predictions_dt), 2)
dt_recall = np.round(recall_score(y_test, predictions_dt), 2)


print("Accuracy: ", dt_accuracy)
print("Precision: ", dt_precision)
print("Recall: ", dt_recall)

Accuracy:  0.83
Precision:  0.82
Recall:  0.75

# KNN

In [41]:
from sklearn.neighbors import KNeighborsClassifier

knn = KNeighborsClassifier(n_neighbors=19, p = 2, metric = 'euclidean')
knn.fit(x_train_scaled, y_train)

KNeighborsClassifier(metric='euclidean', n_neighbors=19)

In [42]:
predictions_knn = knn.predict(x_test_scaled)

In [43]:
knn_accuracy = np.round(accuracy_score(y_test, predictions_knn), 2)
knn_precision = np.round(precision_score(y_test, predictions_knn), 2)
knn_recall = np.round(recall_score(y_test, predictions_knn), 2)


print("Accuracy: ", knn_accuracy)
print("Precision: ", knn_precision)
print("Recall: ", knn_recall)

Accuracy:  0.84
Precision:  0.86
Recall:  0.73

# Comparison of Performances

In [44]:
df_performance = pd.DataFrame([[dt_accuracy, dt_precision, dt_recall], [knn_accuracy, knn_precision, knn_recall], [logr2_accuracy, logr2_precision, logr2_recall]], 
                              columns = ['Accuracy', 'Precision', 'Recall'], index = ['Decision Tree', 'KNN Neighbors', 'Logistic Regression'])

df_performance

                     Accuracy  Precision  Recall
Decision Tree            0.83       0.82    0.75
KNN Neighbors            0.84       0.86    0.73
Logistic Regression      0.83       0.80    0.79